<h1>Admin homepage!</h1>
<button><a style="color:white;" [routerLink]="['addcar']">Dodaj vozilo </a></button>
<button><a style="color:white;" [routerLink]="['addmarkuautomobila']">Dodaj marku automobila </a></button> 
<button><a style="color:white;" [routerLink]="['addklasu']">Dodaj klasu automobila </a></button> 
<button><a style="color:white;" [routerLink]="['addtipgoriva']">Dodaj tip goriva </a></button>
<div class="container">
    <h2 class="ui header">Lista korisnika</h2>

    <table class="ui celled striped table">
        <thead>
            <th>Name Surname Username</th>
            <th>Delete</th>
            <th>Activate/Block</th>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{ category.name }} {{ category.surname }} -- {{ category.username }}</td>
                <td>
                    <mat-icon (click)="onClickDelete(category.id)">delete_outline</mat-icon>
                </td>
                <td *ngIf="category.enabled">
                    <mat-icon (click)="onClickActivate(category.id)">block</mat-icon>
                </td>
                <td *ngIf="!category.enabled">
                    <mat-icon (click)="onClickActivate(category.id)">check_circle_outline</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>

</div>
