<div class="container">
  <h2 class="ui header">Vasa korpa</h2>
  <br>

  <table class="ui celled striped table">
      <thead>
        <th>Agent ID</th>
        <th>Vozilo ID</th>
        <th>Cijena</th>
        <th>Sjedista za decu</th>
        <th>Kilometraza</th>
        <th>Moze preci KM</th>
        <th>Ocjena</th>
        <th>CDW</th>
        <th>Andorid</th>
        <th>Bundle</th>
        <th>Iznajmi</th>
        <th>Vidi zahtjev</th>
      </thead>
      <tbody>
          <tr *ngFor="let vozilo of vozila">

            <td *ngIf="vozilo.agent != null">
                {{ vozilo.agent.id }}
            </td>

            <td *ngIf="vozilo.agent == null">
                Trenutno nema ID
            </td>

            <td>
                {{ vozilo.vehicleId }}
            </td>

            <td>
                {{ vozilo.cijena }}
            </td>

            <td>
                {{ vozilo.brSjedistaZaDjecu }}
            </td>

            <td>
                {{ vozilo.kilometraza }}
            </td>

            <td>
                {{ vozilo.mozePreciKM }}
            </td>

            <td>
                {{ vozilo.ocjena }}
            </td>

            <td *ngIf="!vozilo.coliisionDamageWavier">
                <mat-icon>block</mat-icon>
            </td>
            <td *ngIf="vozilo.coliisionDamageWavier">
                <mat-icon>check_circle_outline</mat-icon>
            </td>

            <td *ngIf="!vozilo.imaAndroid">
                <mat-icon>block</mat-icon>
            </td>
            <td *ngIf="vozilo.imaAndroid">
                <mat-icon>check_circle_outline</mat-icon>
            </td>

            <td>
                <input type="checkbox" [(ngModel)]="vozilo.bundle">
            </td>

            <td>
                <mat-icon (click)="rentCar(vozilo)">done</mat-icon>
            </td>

            <td>
                <mat-icon (click)="onClickOpenZahtjev(vozilo.id, vozilo.agent.id)">open_in_browser</mat-icon>
            </td>

          </tr>
      </tbody>
  </table>

  <div class='table-responsive' *ngIf='vidiZahtjev'>
    <h2>Detalji vaseg zahtjeva: ----------------- <mat-icon (click)="onClickCloseZahtjev()">close</mat-icon></h2>

    <table class="ui celled striped table">
        <thead>
          <th>Ime agenta</th>
          <th>Vozilo</th>
          <th>Status</th>
          <th>Datum kreiranja</th>
          <th>Plati</th>
        </thead>
        <tbody>
            <tr>
              
            <td>
                {{ zahtjev.agent.imeKompanije }}
            </td>

            <td>
                {{ zahtjev.vozilo.id }}
            </td>

            <td>
                {{ zahtjev.zahtjevStatus }}
            </td>

            <td>{{ zahtjev.datumKreiranja|date: 'mediumDate' }}</td>

            <td *ngIf="!zahtjev.potvrdjen">
                <mat-icon>block</mat-icon>
            </td>
            <td *ngIf="zahtjev.potvrdjen">
                <mat-icon (click)="onClickPlati(zahtjev)">payment</mat-icon>
            </td>

  
            </tr>
        </tbody>
    </table>
  </div>

</div>
      