#ap{
    width: 40%;
    margin: 5px;
    align-content: center;
    margin-left: 250px;
}

#sp{
    width: 40%;
    margin: 5px;
    align-content: center;
    margin-left: 250px;
}

.btn{
    background-color: palevioletred;
    color: black;
}