
<div class="d-flex justify-content-center">  
    <ngb-carousel class="d-flex justify-content-center">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" >
        <img src="assets/img/cars1.jpg" style="width: 1200px; height: 782px;" >
      </div>
      <div class="carousel-caption">
        <h3>Welcome! :D</h3>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/cars2.jpg" style="width: 1200px; height: 782px;" >
      </div>
      <div class="carousel-caption">
        <h3>Welcome! :D</h3>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/cars3.jpg"  style="width: 1200px; height: 782px;">
      </div>
      <div class="carousel-caption">
        <h3>Welcome! :D</h3>
        
      </div>
    </ng-template>
  </ngb-carousel>
</div>