<h1>Agent Homepage</h1>
<button (click)="onClickZahtjevi()">Zahtjevi za vozila</button>
<button (click)="onClickZauzece()">Zauzece automobila</button>
<button (click)="onClickTermini()">Termini</button>
<button [routerLink]="['poruke']">Poruke</button>
<button [routerLink]="['listaporuka']">Lista poruka</button>
<button (click)="onClickKomentarAgent()">Komenatari</button>
<button [routerLink]="['dodajOglas']">Dodaj oglas</button>
<button (click)="onClickCjenovnik()">Dodavanje cjenovnika</button>

