<br>
<br>
<h1 style="margin-left: 350px;">Agent Homepage</h1>
<br>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" (click)="onClickZahtjevi()">Zahtjevi za vozila</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" (click)="onClickZauzece()">Zauzece automobila</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" [routerLink]="['poruke']">Poruke</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" [routerLink]="['listaporuka']">Lista poruka</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" (click)="onClickKomentarAgent()">Komentari</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;" [routerLink]="['dodajOglas']">Dodaj oglas</button>
<button type="button" class="btn btn-outline-secondary" style="color: deeppink;"  (click)="onClickCjenovnik()">Dodavanje cjenovnika</button>

