.card {
    max-width: 800;
    max-height: 700;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: left;
}

.card-body{
    text-align: center;
}

.btn{
    margin-right: 10px;
    height: 70px;
    width: 300px;
}

.container{
    max-width: 650;
    margin-right: 400px;
    margin-left: 400px ;
}