
<form  (ngSubmit)="onSubmit()" class="d-flex p-2 justify-content-center">
    <fieldset>
     <legend>Dodaj oglas:</legend>

     <div>
      <label  class="col-form-label" for="inputDefault">Dostupan:</label>
      <input type="checkbox"  class="form-control" id="Dostupan" name="Dostupan"  [(ngModel)]="oglas.dostupan" />
    </div>

    <div>
        <label  class="col-form-label" for="inputDefault">Vozilo: </label>
        
          <select class="form-control" id="vozilo"  [(ngModel)]="oglas.vozilo" name="vozilo" >
            <option [ngValue]="null">Izaberi vozilo</option>
            <option *ngFor = 'let c of vozila' name="vozilo1" [ngValue]="c">{{c.markaAutomobila.nazivMarke}} {{c.klasaAutomobila.naziv}}</option>
          </select>
        
      </div>

    <div>
      <label  class="col-form-label" for="inputDefault">Mjesto preuzimanja:</label>
      <input type="text" class="form-control" name="mestoPreuzimanja" id="mestoPreuzimanja" [(ngModel)]="oglas.mestoPreuzimanja"/>
    </div>

    
    <div>
      <label  class="col-form-label" for="inputDefault">Slobodno od:</label>
      <input type="datetime"  class="form-control" id="fromDate" name="fromDate" [(ngModel)]="oglas.fromDate"/>
    </div>
    
    <div>
        <label  class="col-form-label" for="inputDefault">Slobodno do:</label>
        <input type="datetime"  class="form-control" id="ff" name="fff" [(ngModel)]="oglas.toDate"/>
    </div>


    <button type="submit" class="btn btn-primary">Dodaj</button>
</fieldset>       
</form>

