<div class="d-flex justify-content-center">
    <div class="d-flex flex-column col-sm-8">
       <br/><br/>
        <div>
            <h3 class="display-4" style="text-align: center; color: deeppink;"><b>Pretražite vozila</b></h3>
        </div>
        <br/>
        <div class="d-flex flex-row" id="basicSearch">
            <div class="d-flex flex-column" style="border-color: deeppink;" id="sp">
                <label id = "label" for="mjestoPreuzimanja" style="color: deeppink;">Mjesto preuzimanja</label>
                <select class="form-control" [(ngModel)]="pretraga.mjestoPreuzimanja" id="mjestoPreuzimanja">
                  <option *ngFor="let m of mjesta" [ngValue]="m">{{m}}</option>
               </select>
            </div>
            <div class="d-flex flex-column" id="sp" style="color: deeppink;">
                <label id = "label" for="od" style="border-color: deeppink;">Od </label>
                <input
                [(ngModel)] = "pretraga.od"
                type="date"
                name="Od"
                id="od"
                class="form-control"
                />
            </div>
            <div class="d-flex flex-column" id="sp" style="color: deeppink;">
                <label id = "label" for="do"  style="border-color: deeppink;">Do</label>
                <input
                [(ngModel)] = "pretraga.doo"
                type="date"
                name="do"
                id="do"
                class="form-control"
                />
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-outline-success" id="btnSearch" (click) = "pretraziOglase(0)">Pretrazi</button>
            </div> 
            <div class="d-flex flex-column">
                <button class="btn btn-outline-danger" id="btnSearch" (click) = "clear()">Resetuj</button>
            </div> 
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column" id="ss">
                <h4 style="color: deeppink;">Dodatna pretraga</h4>
                <div class="form-group" style="color: deeppink;">
                    <label id = "label" for="mark">Marka</label>
                    <select class="form-control" [(ngModel)]="pretraga.marka" id="marka" (change) = "change(pretraga.marka.id)">
                       <option *ngFor="let marka of marke" [ngValue]="marka">{{marka.nazivMarke}}</option>
                    </select>
                 </div>
                 <div class="form-group" *ngIf = "pretraga.marka.id != null" style="color: deeppink;">
                    <label id = "label" for="model">Model</label>
                    <select class="form-control" [(ngModel)]= "pretraga.marka.model" id="model">
                       <option *ngFor="let model of modeli" [ngValue] = "model">{{model}}</option>
                    </select>
                 </div>
                 <div class="form-group" style="color: deeppink;">
                    <label id = "label" for="fuel">Vrsta goriva</label>
                    <select class="form-control" [(ngModel)]= "pretraga.gorivo" id="goriva">
                       <option *ngFor="let g of goriva" [ngValue]="g">{{g.naziv}}</option>
                    </select>
                 </div>
                 <div class="form-group" style="color: deeppink;">
                    <label id = "label" for="gearbox">Tip mjenjaca</label>
                    <select class="form-control" [(ngModel)]= "pretraga.mjenjac" id="mjenjac">
                       <option *ngFor="let g of mjenjaci" [ngValue]="g">{{g.naziv}}</option>
                    </select>
                 </div>
                 <div class="form-group" style="color: deeppink;">
                    <label id = "label" for="carClass">Class</label>
                    <select class="form-control" [(ngModel)]= "pretraga.klasa" id="klasa">
                       <option *ngFor="let k of klase" [ngValue]="k">{{k.naziv}}</option>
                    </select>
                 </div>
                 <div class="d-flex flex-row" style="color: deeppink;">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="cijenaOd">Cijena od</label>
                        <input [(ngModel)] = "pretraga.cijenaOd" type="number" min="0" name="cijenaOd" id="cijenaOd" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column" style="color: deeppink;">
                        <label id = "label" for="cijenaDo">Cijena do</label>
                        <input [(ngModel)] = "pretraga.cijenaDo" type="number" min="0" name="cijenaDo" id="cijenaDo" class="form-control"/>
                     </div> 
                 </div>
                 <div class="d-flex flex-row" style="color: deeppink;">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="kilometrazaOd">Kilometraza od</label>
                        <input [(ngModel)] = "pretraga.kilometrazaOd" type="number" min="0" name="kilometrazaOd" id="kilometrazaOd" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column" style="color: deeppink;">
                        <label id = "label" for="kilometrazaDo">Kilometraza do</label>
                        <input [(ngModel)] = "pretraga.kilometrazaDo" type="number" min="0" name="kilometrazaDo" id="kilometrazaDo" class="form-control"/>
                     </div> 
                 </div>
                 <div class="form-group" style="color: deeppink;">
                    <label id = "label" for="kilometrazaDozvoljena">Planirana kilometraza</label>
                    <input [(ngModel)] = "pretraga.kilometrazaDozvoljena" type="number" min="0" name="kilometrazaDozvoljena" id="kilometrazaDozvoljena" class="form-control"/>
                 </div>
                 <div class="d-flex flex-row" style="color: deeppink;">
                    <div class="form-group flex-column" style="margin-right: 5px;">
                        <label id = "label" for="brojDjecijihMjesta">Broj djecijih mjesta</label>
                        <input [(ngModel)] = "pretraga.brojDjecijihMjesta" type="number" min="0" name="brojDjecijihMjesta" id="brojDjecijihMjesta" class="form-control"/>
                     </div> 
                     <div class="form-group flex-column" style="color: deeppink;">
                        <label id = "label" for="cdw">CDW</label>
                        <input [(ngModel)] = "pretraga.cdw" type="checkbox" name="cdw" id="cdw" class="form-control"/>
                     </div> 
                 </div>
                 <div>
                    <button class="btn btn-outline-success" id="btnSearchSecondary" (click) = "pretraziOglase(0)">Pretrazi</button>
                 </div>
                 <div>
                    <button class="btn btn-outline-danger" id="btnSearchSecondary" (click) ="clearAdditional()">Resetuj</button>
                 </div>
            </div>
            <div class="d-flex flex-column" id = "results" >
                <div class="d-flex flex-row">
                    <div class="form-group">
                        <select class="form-control" [(ngModel)] = "sortiranje" (change) = "sortiraj()" id="sort">
                           <option>Sortiraj</option>
                           <option>Cijena rastuce</option>
                           <option>Cijena opadajuce</option>
                           <option>Ocjena rastuce</option>
                           <option>Ocjena opadajuce</option>
                           <option>Kilometraza rastuce</option>
                           <option>Kilometraza opadajuce</option>
                        </select>
                     </div>
                </div>
                <div>
                     <div *ngIf = "oglasi.length == 0">
                        <h4 class="display-4" style="text-align: center;">Nema rezultata</h4>
                     </div>
                     <div id="ad" class="d-flex flex-row" *ngFor="let o of oglasi" >
                        <div style="width: 25%; height: 150px;">
                           <svg class="bd-placeholder-img card-img-top" width="150px" height="150px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><rect width="100%" height="100%" fill="#55595c"/><text x="25%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        </div>
                        <div class="d-flex flex-column" style="margin-left: 15px; width:25%">
                           <h2>{{o.vozilo.markaAutomobila.nazivMarke}} {{o.vozilo.markaAutomobila.model}}</h2>
                           <span><i><u>Od:</u></i></span>
                           {{o.od | date: 'mediumDate'}} 
                           <span><i><u>Do:</u></i></span>
                           {{o.doo | date: 'mediumDate'}}
                        </div>
                        <div class="d-flex flex-column" style="margin-left: 30px; margin-right: 30px; width:25%">
                           <span><i><u>Cijena po danu:</u></i></span>
                           {{o.cjenovnik.cijenaPoDanu }}€
                           <span><i><u>Kilometraza:</u></i></span>
                           {{o.vozilo.kilometraza | number}}km
                           <span><i><u>Grade:</u></i></span>
                           {{o.vozilo.ocjena}}
                        </div>
                        <div class="d-flex flex-column" style="margin-right: 15px; margin-top: 15px; width:20%">
                           <button class="btn btn-outline-info" (click) = "pogledaj(viewModal,o)" >View</button>
                           <button class="btn btn-outline-info" (click) = "addToCart(o)">Add to cart</button>
                        </div>
                  </div>
                  <div class="d-flex flex-wrap p-2 justify-content-center">
                     <ul class="pagination">
                     <li class="page-item active" *ngFor = "let i of pages">
                       <a class="page-link" (click) = "pretraziOglase(i-1)">{{i}}</a>
                     </li>
                     </ul>
                  </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<ng-template #viewModal let-modal>
   <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{oglas.vozilo.markaAutomobila.nazivMarke}} {{oglas.vozilo.markaAutomobila.model}}</h4>
      <button
         type="button"
         class="close"
         aria-label="Close"
         (click)="modal.dismiss('Cross click')"
      >
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <div class="d-flex flex-column">
         <div class="d-flex flex-row">
            <div class="d-flex flex-column" id="d1" style="width: 40%;">
               <div class="card mb-4 shadow-sm">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  <div class="card-body">
                     <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">prethodna</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">sledeca</button>
                     </div>
                     </div>
                  </div>
               </div>
            <span id="span"><i><u>Od:</u></i></span>
            {{oglas.od | date : 'mediumDate'}} 
            <span id="span"><i><u>Do:</u></i></span>
            {{oglas.doo | date : 'mediumDate'}}
            </div>
            <div id="d1" class="d-flex flex-column" style="margin-left: 20px; width: 28%;">
               <span id="span"><i><u>Mjesto preuzimanja:</u></i></span>
               {{oglas.mjestoPreuzimanja}}
               <span id="span"><i><u>Gorivo:</u></i></span>
               {{oglas.vozilo.tipGoriva.naziv}}
               <span id="span"><i><u>Mjenjac:</u></i></span>
               {{oglas.vozilo.tipMjenjaca.naziv}}
               <span id="span"><i><u>Klasa:</u></i></span>
               {{oglas.vozilo.klasaAutomobila.naziv}}
               <span id="span"><i><u>Broj sjedista za djecu:</u></i></span>
               {{oglas.vozilo.brSjedistaZaDjecu}}
               <span id="span"><i><u>Dozvoljena kilometraza:</u></i></span>
               {{oglas.vozilo.mozePreciKM | number}}km
               <span id="span"><i><u>Kilometraza:</u></i></span>
               {{oglas.vozilo.kilometraza | number}}km
               <span id="span"><i><u>CDW:</u></i></span>
               {{oglas.vozilo.coliisionDamageWavier}}
               <span id="span"><i><u>Ima android:</u></i></span>
               {{oglas.vozilo.imaAndroid}}
            </div>
            <div id="d1" class="d-flex flex-column" style="margin-left: 20px; width: 28%">
               <h3>Cijenovnik</h3><br>
               <span id="span"><i><u>Cijena po danu:</u></i></span>
               {{oglas.cjenovnik.cijenaPoDanu}}€
               <span id="span"><i><u>Preko dozvoljene kilometraze:</u></i></span>
               {{oglas.cjenovnik.cijenaPoKM}}€/km
               <span id="span"><i><u>Popust:</u></i></span>
               {{oglas.cjenovnik.popust}}%
               <span id="span"><i><u>CDW:</u></i></span>
               {{oglas.cjenovnik.cijenaCDW}}€
               <h3 style="margin-top: 15px;">Ocjene</h3><br>
               <span id="span"><i><u>Ukupna ocjena:</u></i></span>
               {{oglas.vozilo.ocjena}} 
            </div>
         </div>
      </div>
   </div>
</ng-template>